@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">User DB</h1>
    <div class="main">
        <div class="field">
            <div class="label">
                Email Address:
            </div>
            <div class = "input">
                <input id="emailAddress" type="email"/>
            </div>
        </div>
        <div class="field">
            <div class="label">
                Password:
            </div>
            <div class = "input">
                <input id="password" type="password"/>
            </div>
        </div>
        <div class="field">
            <button onclick="save()" >Save</button>
        </div>
    </div>
</div>